body {
	position: relative;
	background-color: #282828;
	font-family: star-wars-font, Arial, Helvetica, sans-serif;
	color: rgb(255, 224, 51);
}
.container{
	text-align: center;
	color: rgb(255, 224, 51);
	font-family: star-wars-font, Arial, Helvetica, sans-serif;

}
#gif{
	margin: 40px;
}
h2, #message, #finalMessage, #correctedAnswer{
	font-family: star-wars-font, Arial, Helvetica, sans-serif;
	color: coral;
	font-size: 25px;
}
#currentQuestion, .answerList{
	font-size: 20px;
}

#title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
#main-content {
	width: 960px;
	margin: 0px auto 0px auto;
}

.thisChoice:hover{
	background-color: transparent;
	color: greenyellow;
	padding: 3px;
}
.btn-primary,.reset{
	background-color: transparent;
	color:rgb(255, 224, 51);
	font-family: star-wars-font, Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding: 30px;
	margin-top: 50px;
}
.btn-primary:hover, .reset:hover{
	background-color: transparent;
}
