body {
	position: relative;
	background-color: #282828;
	font-family: star-wars-font, Arial, Helvetica, sans-serif;
	color: rgb(255, 224, 51);
}
.container{
	text-align: center;	
}

#title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
#main-content {
	width: 960px;
	margin: 0px auto 0px auto;
}
